.home {
  font-size:        105%;
  padding:          0px;
  // margin:           0px 10px 10px 10px;
  // margin-right: 330px;
}

/* .home-side-bar {
  padding:          0px;
  margin:           0px 10px 10px 10px;
  float:            right;
  width:            280px;
} */

.site-custom-nav {
  background-color: #169fe6;
  border: 1px solid #138cca;
}

.site-custom-nav .a {
 color: #fff;
 text-shadow: 1px 1px 1px #1285c1;
}

ul#nav { 
  width:100%; 
  margin:0 auto;

  li {
    display:inline;

    a {
      display:inline-block;
      padding:0 20px;
      height:40px;
      line-height:40px;
      color:#FFF;
      font-family:"\5FAE\8F6F\96C5\9ED1";
      font-size:16px;
      text-decoration: none;
    } 

    a:hover {
      background:#0059AA
    }
  } 
}

.pagination {
  a, span {
    // float: left;
    height: 40px;
    line-height: 50px;
    margin-right: 5px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    width: auto;
    padding: 0 8px;
  }
  a {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #E7ECF0;
    color: #0000CD;
  }
}

.hot-comments-posts {
  padding: 10px;
  border: 1px solid #E7ECF0;
  background-color: #DDD;

  li {
    list-style:none;
  }
}

.hot-comments {
  border: 1px solid #E7ECF0;
  background-color: #DDE;
}

.post-copyright {
  padding:5px;
  background:#ff9;
  border:solid 1px #ccc;
}